body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  height: 80px;
}

#logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: +1;
}

#entete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #0d7377;
  height: 80px;
  font-family: "Abril Fatface", cursive;
  font-size: 25px;
  width: 100%;
  z-index: +1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
li {
  display: inline;
  text-align: right;
  text-decoration: none;
  color: #ffffff;
  margin-right: 15px;
}

.img {
  width: 600px;
  height: auto;
}

main {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#partie1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

#partie2 {
  margin-top: 5%;
}

#partie2,
#partie3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5%;
}

h1 {
  text-shadow: 1px 2px 3px black;
}

#partie2img,
#partie3img {
  clip-path: polygon(75% 0%, 95% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

#partie2txt,
#partie3txt {
  width: 40%;
}

#descriptioniframe {
  text-align: center;
}

#iframe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0%;
  background-color: #eeeeee;
}
