body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  height: 80px;
}

#logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: +1;
}

#entete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #0d7377;
  height: 80px;
  font-family: "Abril Fatface", cursive;
  font-size: 25px;
  width: 100%;
  z-index: +1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
li {
  display: inline;
  text-align: right;
  text-decoration: none;
  color: #ffffff;
  margin-right: 15px;
}

main {
  font-family: "Old Standard TT", serif;
  background-color: #eeeeee;
}

#partie1 {
  display: flex;
  flex-direction: column;
  background-image: url(img/conncapt1.PNG);
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 100%;
}

#partie3 {
  display: flex;
  flex-direction: column;
  background-image: url(img/conncapt3.PNG);
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 100%;
}

#intro {
  background-color: #eeeeee;
  clip-path: polygon(100% 0, 0 0, 0% 350%);
  width: 50%;
  height: 800px;
}

#mdp {
  background-color: #eeeeee;
  clip-path: polygon(0 0, 82% 0, 55% 100%, 0% 100%);
  width: 50%;
  height: 800px;
}

#titre1,
#titre3 {
  margin-top: 15%;
  margin-left: 5%;
  font-size: 35px;
}

#titre1 {
  text-shadow: 1px 2px 3px black;
}

#description1,
#description3 {
  margin-top: 15%;
  margin-left: 3%;
  font-size: 30px;
}

#partie2 {
  background-image: url(img/conncapt2.PNG);
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 800px;
  margin-top: 0;
}

#connexion {
  background-color: #eeeeee;
  clip-path: polygon(0 0, 71% 0, 82% 100%, 0% 100%);
  width: 50%;
  height: 100%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

#titre2 {
  margin-top: 10%;
  margin-left: 10%;
  font-size: 35px;
}

#description2 {
  margin-top: 15%;
  margin-left: 3%;
  font-size: 30px;
}

#descriptioniframe {
  text-align: center;
  font-size: 25px;
}

.button {
  display: flex;
  width: 100%;
  margin-left: 20%;
}

#iframe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  background-color: #eeeeee;
  margin: 0;
  padding-top: 15px;
}

button {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  color: #ffffff;
  background: teal;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: "Old Standard TT", serif;
  font-size: 17px;
}

button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #e8ffff,
    #a6f6f1,
    #41aea9,
    #213e3b,
    #30ffa7,
    #30ff39,
    #b8ff30
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

button:active {
  color: teal;
}

button:active:after {
  background: transparent;
}

button:hover:before {
  opacity: 1;
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: teal;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#imgfooter {
  width: 10%;
  display: flex;
  justify-content: space-between;
}
