body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eeeeee;
}

header {
  position: relative;
}

#logo {
  position: absolute;
  top: 0;
  left: 20px;
}

#entete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #0d7377;
  height: 80px;
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  position: fixed;
  width: 100%;
  z-index: +1;
}

#logo {
  float: left;
  margin-top: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
li {
  display: inline;
  text-align: right;
  text-decoration: none;
  color: #ffffff;
  margin-right: 15px;
}

li{list-style: none;}

nav ul li ul { display:none; }

nav ul li:hover ul 
  {
  z-index:+2;
  display:list-item;
  position:absolute;
  margin-top:5px;
  margin-left:-10px;
  }

nav ul li:hover ul li {
  float:none;
    }

#titre {
  text-align: center;
  font-size: 35px;
}

#presoflipcard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#flipcard,
#flipcard1,
#flipcard2 {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-top: 7%;
  margin-left: 40px;
}
#card, #card1, #card2 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
#front, #front1, #front2,
#back, #back1, #back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 200px;

}
#front, #front1, #front2 {
  background-color: #32e0c4;
  font-size: 40px;
  font-family: 'Abril Fatface', cursive;
}

#back, #back2 {
  background-color: teal;
  color: white;
  text-align: center;
  font-family: 'Old Standard TT', serif;
  font-size: 20px;
  transform: rotateY(180deg);
}

#back1 {
  background-color: teal;
  color: white;
  text-align: center;
  font-family: 'Old Standard TT', serif;
  font-size: 30px;
  transform: rotateX(180deg);
}

#flipcard:hover #card {
  transform: rotateY(180deg);
}

#flipcard1:hover #card1 {
  transform: rotateX(180deg);
}

#flipcard2:hover #card2 {
  transform: rotateY(180deg);
}

#projet1,
#projet2,
#projet3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#main2, #main3{font-family: 'Alegreya', serif;}


#projet1et2{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#main3{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#projet1, #projet2, #projet3{
  position: relative;
  filter:grayscale(0%);
  transition: 0.5s
}

#projet1txt, #projet2txt, #projet3txt{
  position: absolute;
  z-index: +1;
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 30px;
  text-align: center;
}

#projet1:hover #projet1txt,
#projet2:hover #projet2txt,
#projet3:hover #projet3txt
{
  opacity: 1;
}

#projet1:hover, #projet2:hover, #projet3:hover {
  filter: grayscale(100%);
}

#projet2, #projet3{
  color: #ffffff;
  text-shadow: 1px 2px 3px black;
}

#projet1, #projet3{
  text-shadow: 1px 2px 3px black
}

#projet3{
  margin-top: 5%;
  margin-bottom: 5%;

}

.img {
  height: 300px;
  width: auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

#imgfooter{
  width: 10%;
  display: flex;
  justify-content: space-between;
}
